/* Sticky Footers */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -123px;
}

.footer, .push {
    height: 123px;
}

/* Homepage CSS http://www.colourlovers.com/palette/43453/yohji_yamamoto */
#header {
	background-color: black;
	color: #fff;
}

#header {
	padding-top: 25px;
}

#header h1 {
	font-size: 40px;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav #nav-1 {
	margin-left: 0px;
}

nav li {
	float: left;
	font-size: 20px;
}

nav ul li a { 
    text-decoration: none; 
	color: #fff; 
} 
 
#nav-1 a:hover { 
	color: #FF5B78; 
	border-bottom: 2px solid #FF5B78;
} 

#nav-2 a:hover { 
	color: #CBE86B; 
	border-bottom: 2px solid #CBE86B;
} 

#nav-3 a:hover { 
	color: #FFF2CC; 
	border-bottom: 2px solid #FFF2CC;
} 

#nav-4 a:hover { 
	color: #000000; 
	border-bottom: 2px solid #000000;
} 

#nav-5 a:hover { 
	color: #774F38; 
	border-bottom: 2px solid #774F38;
} 

#page_trimming {
	background-color: #757575;
	padding: 10px 0;
}

#footer {
	border-top: 3px solid black;
	padding: 20px 0;
	background-color: #464D70;
}

#footer h6 {
}
