/* Sticky Footers */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4px;
}

.footer, .push {
    height: 4px;
}

/* Homepage CSS */

body {
	background-color: grey;
}

header {
	margin-top: 25px;
}

header h1 {
	font-size: 40px;
}

nav ul {
	list-style: none;
}

nav #nav-1 {
	margin-left: 0px;
}

nav li {
	float: left;
	font-size: 20px;
}

nav ul li a { 
    text-decoration: none; 
	color: #fff; 
} 
 
nav ul li a:hover { 
	color: #000; 
	border-bottom: 2px solid #000;
	font-weight: bold;
} 


