<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="static/css/960.css" /> 
<link type="text/css" rel="stylesheet" href="static/css/reset.css" />
<link type="text/css" rel="stylesheet" href="static/css/text.css" /> 
<link type="text/css" rel="stylesheet" href="static/css/main.css" /> 

<script type="text/javascript" src="">
</script>

<title>Untitled</title>

<script type="text/javascript">
	$(function() {
	
	});
</script>

</head>

<body>
	<section id="nav">
		<header>
			<div class="container_12">
				<div class="grid_12">
					<h1>kervin's photographs</h1>
					<nav>
						<ul>
							<li id="nav-1"><a href="">home</a></li>
							<li id="nav-2"><a href="">nature</a></li>
							<li id="nav-3"><a href="">people</a></li>
							<li id="nav-4"><a href="">urban</a></li>
							<li id="nav-5"><a href="">animals</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
	</section>
	
	<section id="images">
	</section>

</div> <!-- end container -->

</body>
</html>
